<!DOCTYPE html>
<html lang="en">
<head>




<title>Title Page</title>

    <link rel="stylesheet" href="../static/nlp.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = "background">


<div class="container-1">
  <div class="box-2">
    
    <p class="sidetitles">Epoch: </p>
    <input type="range" min="1" max="100" value="50" class="slider" >
    <p class="sidetitles">Window Size </p>
    <input type="range" min="1" max="100" value="50" class="slider" >
    <p class = "sidetitles">Embedding Dim </p>
    <input type="range" min="1" max="100" value="50" class="slider" >
    <p class = "sidetitles">Batch Size: 4 </p>
    <input type="range" min="1" max="100" value="50" class="slider" >

  </div>



  <div class="box-1">
 
    <form class = "grid" action = "/result" method = "POST" >
      <center>
        <label id = "titlelab" for="vocabulary" class = "redTitle" > Vocabulary: </label>
        <div class = vocabbox id = "placevoc"> </div>
        <input type="text" name="vocabulary" id="voc"> 
      </center>

      {% if vocabulary  %}
    
       <body onLoad="javascript:change()" >


      {% endif %}

      <script >
        function change() // no ';' here
      {
        document.getElementById("placevoc").innerHTML =  "UNK {{vocabulary}}";
     }
  

      </script>

      <button class = "file_submit" type="submit" >Submit </button>
      
    </form>

    
    <table id = "vocabs" class = "tableVocab">

    </table>
    
 

  </div>
</div>



<div class = "body">
  

    <h3>Input Layer</h3>
    <div class="tbody">
    <table>
      
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>


  <div class="tbody">
    <table>
      </tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
    </table>
  </div>

</div>


 
   <div>
   
    <script>

      const url = 'http://localhost:6969/matrix'
      fetch(url)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
              appendVocab(data);
                
                
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        

        function appendVocab(data) {

            var mainContainer = document.getElementById("vocabs");
            
            var div = document.createElement("table");
            let text = "<tr>"
            for (var i = 0; i < data.words.length; i++) {
              text += "<th>" + data.words[i] + "</th>"
            }
            text += "</tr>" 
            

            text += "<tr>" 
            let enc = ""
            function add(enc, j){
                for (var i = 0; i < data.words.length; i++) {
                    if(j == i ){
                        enc += "1"
                    }
                    else{
                    enc += "0"
                }
            }
            return enc
        }
            for (var i = 0; i < data.words.length; i++) {
              text += "<td>" + add(enc, i) + "</td>"
            }
        text += "</tr>" 

        div.innerHTML = text
        mainContainer.appendChild(div);
    }
    
    </script>
  </div>
  




</body>
</html>