<!DOCTYPE html>
<html lang="en">
<head>




<title>Title Page</title>

    <link rel="stylesheet" href="../static/nlp.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = "background">


<div class="container-1">
  <div class="box-2">
    
    <p class="sidetitles">Epoch: </p>
    
    <div class="slider" >
  <input type="range" min="0" max="5"value="1"   oninput="rangeValue1.innerText = this.value">
  <p id="rangeValue1">1</p>
</div>
    <p class="sidetitles">Window Size </p>
    <div class="slider" >
  <input type="range" min="2" max="4"value="2"   oninput="rangeValue2.innerText = this.value">
  <p id="rangeValue2">2</p>
</div>

    <p class = "sidetitles">Embedding Dim </p>
    <div class="slider" >
  <input type="range" min="1" max="4"value="3"   oninput="rangeValue3.innerText = this.value">
  <p id="rangeValue3">3</p>
</div>

    <p class = "sidetitles">Batch Size: 4 </p>
    <div class="slider" >
  <input type="range" min="0" max="4"value="4"   oninput="rangeValue4.innerText = this.value">
  <p id="rangeValue4">4</p>
</div>
    
    

  </div>



  <div class="box-1">
 
    <form class = "grid" action = "/result" method = "POST" >
      <center>
        <label id = "titlelab" for="vocabulary" class = "redTitle" > Vocabulary: </label>
        <div class = vocabbox id = "placevoc"> </div>
        <input type="text" name="vocabulary" id="voc"> 
      </center>

      {% if vocabulary  %}
    
       <body onLoad="javascript:change()" >


      {% endif %}

      <script >
        function change() // no ';' here
      {
        document.getElementById("placevoc").innerHTML =  "UNK {{vocabulary}}";
     }
  

      </script>

  
      
    </form>

    
    <table id = "vocabs" class = "tableVocab">

    </table>
    
 

  </div>

</div>



<div class = "body" >
  
<div>


  <h4 class = "layer"> Input Layer </h4>
  <h4 class = "layer"> Hidden Layer </h4>
  <h4 class = "layer"> Output Layer </h4>
  <h4 class = "layer" style=" top: 0px;right: 140px; position: absolute;"> Matrix Form </h4>


<p  id = "hide-me" class="input-word" style="margin-right: 80%; margin-top: 10%; position: absolute;"><span id="super">1</span> W <span id="sub">V x N
</p>


<table id  = "collapse-down" class="input-vis">
      <tbody>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "hide-me" class="input-word">W(t-1)</h3>


<span id  = "hide-me" class="arrow half-left" style="left: 75px; top: -90px;" ></span>
<div id  = "hide-me" class = "box" style = "right: 20px; top: -60px;">&#43</div>
<span  id  = "hide-me"class="arrow half-left" style="right: 170px; top: 20px; transform: rotate(-145deg);" ></span>
<p  id  = "hide-me"class="input-word" style="margin-right: 80%; margin-top: 7%; position: absolute;"><span id="super">1</span> W <span id="sub">V x N
</p>
<table id  = "collapse-up" class="input-vis" style="top: -40px; position: relative;">
      <tbody>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
    </tbody>
    </table>
    <h3  id  = "hide-me" class="input-word" style="bottom: 40px; position: relative;">W(t+1)</h3>



<table id  = "fininput" class="input-vis" style=" top: -480px; position: relative; ">
      <tbody>
      <tr>
        <td><span class="dotw " id = "fin"></span> </td>
      </tr>
      <tr>
        <td><span class="dotb" id = "fin"></span></td>
      </tr>
      <tr>
        <td><span class="dotw" id = "fin"></span></td>
      </tr>
      <tr>
        <td><span class="dotb" id = "fin"></span></td>
      </tr>
      <tr>
        <td><span class="dotw" id = "fin"></span></td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "text" class="input-word" style=" left: 25px;top: 440px; position: absolute; margin-bottom: 0px; margin-top:0px">W(t+1) + W(t-1)</h3>



 <span onclick="lin()" id = "line1" class = "line" > </span>
 <span onclick="lin()" id = "line2" class = "line" style="transform: rotate(90deg); top: 175px;" > </span>
  <span onclick="lin()" id = "line3" class = "line" style="transform: rotate(80deg); top: 200px; height: 240px;" > </span>
  <span onclick="lin()" id = "line4" class = "line" style="transform: rotate(70deg); top: 210px; height: 260px;" > </span>
  <span onclick="lin()" id = "line5" class = "line" style="transform: rotate(60deg); top: 230px; height: 270px;" > </span>


  <span onclick="lin()" id = "line6" class = "line" style="transform: rotate(110deg); top: 170px;" > </span>
  <span onclick="lin()" id = "line7"class = "line" style="transform: rotate(100deg); top: 200px; height: 250px;" > </span>
  <span onclick="lin()" id = "line8" class = "line" style="transform: rotate(90deg); top: 230px; height: 240px;" > </span>
  <span onclick="lin()" id = "line9" class = "line" style="transform: rotate(80deg); top: 250px; height: 240px;" > </span>
  <span onclick="lin()" id = "line10" class = "line" style="transform: rotate(70deg); top: 270px; height: 240px;" > </span>



    <span onclick="lin()" id = "line11" class = "line" style="transform: rotate(118deg); top: 187px; height: 270px;" > </span>
     <span onclick="lin()" id = "line12" class = "line" style="transform: rotate(110deg); top: 210px; height: 250px;" > </span>   
    <span onclick="lin()" id = "line13" class = "line" style="transform: rotate(100deg); top: 240px; height: 250px;" > </span>
    <span onclick="lin()" id = "line14"class = "line" style="transform: rotate(90deg); top: 260px;" > </span>
    <span onclick="lin()" id = "line15" class = "line" style="transform: rotate(80deg); top: 290px;" > </span>

<table id  = "fininput" class="input-vis" style=" right: -240px;top: -670px; position: relative; ">
      <tbody>
  
      <tr>
        <td  ><span onclick="circ1()" id = "circle1"class="dotb"></span></td>
      </tr>
      <tr>
        <td ><span onclick="circ2()" id = "circle2"class="dotw"></span></td>
      </tr>
      <tr>
        <td ><span onclick="circ3()" id = "circle3"class="dotb"></span></td>
      </tr>
    </tbody>
    </table>

  
   


    
    
   


<div id = "test" class = "eqbox"><span class="w">w </span><span class="w" id = "sub">1</span> <span class="a">a</span><span class="a"id = "sub">1 </span><span class="plus">+</span>  <span class="w">w </span><span class="w" id = "sub">2</span><span class="a">a</span><span class="a"id = "sub">2 </span><span class="plus">+</span>  <span class="w">w </span><span class="w" id = "sub">3</span><span class="a">a</span><span class="a"id = "sub">3</span><span class="plus">+</span>  <span class="w">w </span><span class="w" id = "sub">4</span><span class="a">a</span><span class="a"id = "sub">4</span><span class="plus">+</span>  <span class="w">w </span><span class="w" id = "sub">5</span><span class="a">a</span><span class="a"id = "sub">5</span></div>

</div>



 <div class="matrixform">

  
    <div id  = "hide-me" class = "box" style = "left: 150px; top: 250px;">&#43</div>

  


    <div>
     
    <table  id  = "collapse-down"  class="input-table">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      </tbody>
    </table>
    <h3 id  = "hide-me" class="word"> I </h3>
  </div>


  <div >
    <table id  = "collapse-up" class="input-table">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "hide-me" class="word"> data </h3>
  </div>

  <div >
    <table id  = "fininput" class="input-table"style="top:-400px; position: relative;">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "fininput" class="word" style="top:-400px; position: relative;"> I + data </h3>


<div id = "firstweights" class= "leftTitle " style="display: none;"> Embedded Weights </div>
<div id = "firstweights" class= "leftTitle " style="background-color: white; display:  none; border-radius: 15px; color: #1F16F1; left: 390px; width: 100px;"> Bias </div>
<table id  = "leftWeight" class="weight-table"style="top:200px; display: none;left: -200px;position: absolute; font-size: 15px;">
    </table>

    <table id  = "leftBias" class="bias-table"style="top:200px; left: 150px; display: none;position: absolute; font-size: 15px;">
    </table>

    <div  id = "firstweights" class = "neuron" style="display: none;">Neuron Value : 0</div>
    <div id = "firstweights" class = "update" style="display: none;">Update Weights</div>


  </div>




</div>

<script >
  function circ1() {

    var elements = document.getElementsByClassName('line');
   Array.prototype.forEach.call(elements, function(line) {
      if(line.id != "line1" && line.id !="line2" && line.id !="line3" && line.id !="line4" && line.id !="line5" ){
        line.style.opacity = "0.2"

      }
      else{

        line.style.opacity = "1"

      }

});

   var w = document.getElementsByClassName('dotw');
    Array.prototype.forEach.call(w, function(dotw) {
      if(dotw.id != "class1"  && dotw.id != "fin"){
        dotw.style.opacity = "0.2"

      }
      else{

        dotw.style.opacity = "1"

      }
});
 var b = document.getElementsByClassName('dotb');
    Array.prototype.forEach.call(b, function(dotb) {
      if(dotb.id != "class1"  && dotb.id != "fin"){
        dotb.style.opacity = "0.2"

      }
      else{

        dotb.style.opacity = "1"

      }

});


   neuron()

}

function circ2() {
   var elements = document.getElementsByClassName('line');
   Array.prototype.forEach.call(elements, function(line) {
      if(line.id != "line6" && line.id !="line7" && line.id !="line8" && line.id !="line9" && line.id !="line10"){
        line.style.opacity = "0.2"

      }else{

        line.style.opacity = "1"

      }
});

    var w = document.getElementsByClassName('dotw');
    Array.prototype.forEach.call(w, function(dotw) {
      if(dotw.id != "circle2" && dotw.id != "fin"){
        dotw.style.opacity = "0.2"

      }
      else{

        dotw.style.opacity = "1"

      }
});
 var b = document.getElementsByClassName('dotb');
    Array.prototype.forEach.call(b, function(dotb) {
      if(dotb.id != "circle2" && dotb.id != "fin"){
        dotb.style.opacity = "0.2"

      }
      else{

        dotb.style.opacity = "0.9"

      }
});
    neuron()

}

function circ3() {
   var elements = document.getElementsByClassName('line');
   Array.prototype.forEach.call(elements, function(line) {
      if(line.id != "line11" && line.id !="line12" && line.id !="line13" && line.id !="line14" && line.id !="line15" ){
        line.style.opacity = "0.2"

      }else{

        line.style.opacity = "1"

      }
});

    var w = document.getElementsByClassName('dotw');
    Array.prototype.forEach.call(w, function(dotw) {
      if(dotw.id != "circle3"  && dotw.id != "fin"){
        dotw.style.opacity = "0.2"

      }
      else{

neuron()
      }
});
 var b = document.getElementsByClassName('dotb');
    Array.prototype.forEach.call(b, function(dotb) {
      if(dotb.id != "circle3" && dotb.id != "fin"){
        dotb.style.opacity = "0.2"

      }
      else{

        dotb.style.opacity = "0.9"

      }
});

neuron()

}


function neuron(){

  var fin = document.getElementsByClassName('input-table');
    Array.prototype.forEach.call(fin, function(fininput) {
      if(fininput.id == "fininput"){

      fininput.style.display = "none"
    }
});

  var word = document.getElementsByClassName('word');
    Array.prototype.forEach.call(word, function(wor) {
      wor.style.display = "none"
    
});

    var eq = document.getElementsByClassName('eqbox');
    Array.prototype.forEach.call(eq, function(eqbox) {
      eqbox.style.display = "block"
    
});


    var first = document.querySelectorAll('[id=firstweights]');;
    Array.prototype.forEach.call(first, function(firstweights) {
     
      firstweights.style.display = "block"

      
      
});

var leftweight  =  document.getElementById('leftWeight')
leftWeight.style.display = "block"
var bias =  document.getElementById('leftBias')
bias.style.display = "block"






}

function lin(){
 var fin = document.getElementsByClassName('input-table');
    Array.prototype.forEach.call(fin, function(fininput) {
      if(fininput.id == "fininput"){

      fininput.style.display = "none"
    }
});

  var word = document.getElementsByClassName('word');
    Array.prototype.forEach.call(word, function(wor) {
      wor.style.display = "none"
    
});

    var eq = document.getElementsByClassName('eqbox');
    Array.prototype.forEach.call(eq, function(eqbox) {
      eqbox.style.display = "none"
    
});
   var first = document.querySelectorAll('[id=firstweights]');
    Array.prototype.forEach.call(first, function(firstweights) {
      firstweights.style.display = "none"
       });


    var left = document.getElementsByClassName('leftTitle');
    Array.prototype.forEach.call(left, function(leftTitle) {
      leftTitle.style.display = "block"
    });

var leftweight  =  document.getElementById('leftWeight')
leftWeight.style.display = "block"
var bias =  document.getElementById('leftBias')
bias.style.display = "block"


}



</script>




 

    





</div>


 
   <div>
   
    <script>



      const url = 'http://localhost:6969/matrix'
      fetch(url)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
              appendVocab(data);
              LeftData(data);
              leftBias(data);
             
                
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        

        function appendVocab(data) {

            var mainContainer = document.getElementById("vocabs");
            
            var div = document.createElement("table");
            let text = "<tr>"
            for (var i = 0; i < data.words.length; i++) {
              if(i == 1){
                text += "<th>" + data.words[i] + "</th>"
              }else{
              text += "<th>" + data.words[i] + "</th>"
            }
            }
            text += "</tr>" 
            

            text += "<tr>" 
            let enc = ""
            function add(enc, j){
                for (var i = 0; i < data.words.length; i++) {
                    if(j == i ){
                        enc += "1"
                    }
                    else{
                    enc += "0"
                }
            }
            return enc
        }
            for (var i = 0; i < data.words.length; i++) {
              text += "<td>" + add(enc, i) + "</td>"
            }
        text += "</tr>" 

        div.innerHTML = text
        mainContainer.appendChild(div);
    }

    function LeftData(data) {
              var mainContainer = document.getElementById("leftWeight");
              for (var i = 0; i < data.epoch1.leftWeight.length; i++) {
              var div = document.createElement("table");
              let text = "<tr>"
              for (var j = 0; j < data.epoch1.leftWeight[i].length; j++) {
                if(parseFloat(data.epoch1.leftWeight[i][j]) >= 0 && parseFloat(data.epoch1.leftWeight[i][j]) < 0.2){
              text += "<td style='background-color: rgba(0,255,0, 0.8);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }
          if(parseFloat(data.epoch1.leftWeight[i][j]) >= 0.2 && parseFloat(data.epoch1.leftWeight[i][j]) < 0.4){
              text += "<td style='background-color: rgba(0,255,0, 0.84);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }
          else if(parseFloat(data.epoch1.leftWeight[i][j]) >= 0.4 && parseFloat(data.epoch1.leftWeight[i][j]) < 0.6){
              text += "<td style='background-color: rgba(0,255,0, 0.87);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }else if(parseFloat(data.epoch1.leftWeight[i][j]) >= 0.6 && parseFloat(data.epoch1.leftWeight[i][j]) < 0.8){
              text += "<td style='background-color: rgba(0,255,0, 0.93);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }else if(parseFloat(data.epoch1.leftWeight[i][j]) >= 0.8 && parseFloat(data.epoch1.leftWeight[i][j]) <= 1){
              text += "<td style='background-color: rgba(0,255,0, 0.99);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }

          


          else if(parseFloat(data.epoch1.leftWeight[i][j]) <= 0 && parseFloat(data.epoch1.leftWeight[i][j]) > -0.2){
              text += "<td style='background-color: rgba(255, 0, 0, .8);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }
          else if(parseFloat(data.epoch1.leftWeight[i][j]) <= -0.2 && parseFloat(data.epoch1.leftWeight[i][j]) > -0.4){
              text += "<td style='background-color: rgba(255, 0, 0, 0.84);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }
          else if(parseFloat(data.epoch1.leftWeight[i][j]) <= -0.4 && parseFloat(data.epoch1.leftWeight[i][j]) > -0.6){
              text += "<td style='background-color: rgba(255, 0, 0, 0.87);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }else if(parseFloat(data.epoch1.leftWeight[i][j]) <= -0.6 && parseFloat(data.epoch1.leftWeight[i][j]) > -0.8){
              text += "<td style='background-color: rgba(255, 0, 0, 0.93);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }else if(parseFloat(data.epoch1.leftWeight[i][j]) <= -0.8 && parseFloat(data.epoch1.leftWeight[i][j]) > -1){
              text += "<td style='background-color: rgba(255, 0, 0, 0.99);'>" + data.epoch1.leftWeight[i][j] + "</td>"
          }
          
        

            }
            text += "</tr>" 
            div.innerHTML = text
            mainContainer.appendChild(div);
          } 





          }   

    function leftBias(data) {
            var mainContainer = document.getElementById("leftBias");
              for (var i = 0; i < data.epoch1.leftBias.length; i++) {
              var div = document.createElement("table");
              let text = ""
              for (var j = 0; j < data.epoch1.leftBias[i].length; j++) {
              text += "<tr><td>" + data.epoch1.leftBias[i][j] + "</td></tr>"
            }
          
            div.innerHTML = text
            mainContainer.appendChild(div);
          }   
          
        }

        
    
    </script>
  </div>


  




</body>
</html>