<!DOCTYPE html>
<html lang="en">
<head>




<title>Title Page</title>

    <link rel="stylesheet" href="../static/nlp.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = "background">


<div class="container-1">
  <div class="box-2">
    
    <p class="sidetitles">Epoch: </p>
    
    <div class="slider" >
  <input type="range" min="0" max="5"value="1"   oninput="rangeValue1.innerText = this.value">
  <p id="rangeValue1">1</p>
</div>
    <p class="sidetitles">Window Size </p>
    <div class="slider" >
  <input type="range" min="2" max="4"value="2"   oninput="rangeValue2.innerText = this.value">
  <p id="rangeValue2">2</p>
</div>

    <p class = "sidetitles">Embedding Dim </p>
    <div class="slider" >
  <input type="range" min="1" max="4"value="3"   oninput="rangeValue3.innerText = this.value">
  <p id="rangeValue3">3</p>
</div>

    <p class = "sidetitles">Batch Size: 4 </p>
    <div class="slider" >
  <input type="range" min="0" max="4"value="4"   oninput="rangeValue4.innerText = this.value">
  <p id="rangeValue4">4</p>
</div>
    
    

  </div>



  <div class="box-1">
 
    <form class = "grid" action = "/result" method = "POST" >
      <center>
        <label id = "titlelab" for="vocabulary" class = "redTitle" > Vocabulary: </label>
        <div class = vocabbox id = "placevoc"> </div>
        <input type="text" name="vocabulary" id="voc"> 
      </center>

      {% if vocabulary  %}
    
       <body onLoad="javascript:change()" >


      {% endif %}

      <script >
        function change() // no ';' here
      {
        document.getElementById("placevoc").innerHTML =  "UNK {{vocabulary}}";
     }
  

      </script>

  
      
    </form>

    
    <table id = "vocabs" class = "tableVocab">

    </table>
    
 

  </div>
</div>



<div class = "body" >
  
<div>


  <h4 class = "layer"> Input Layer </h4>
  <h4 class = "layer"> Hidden Layer </h4>
  <h4 class = "layer"> Output Layer </h4>
  <h4 class = "layer" style=" top: 0px;right: 140px; position: absolute;"> Matrix Form </h4>


<p  id = "hide-me" class="input-word" style="margin-right: 80%; margin-top: 10%; position: absolute;"><span id="super">1</span> W <span id="sub">V x N
</p>


<table id  = "collapse-down" class="input-vis">
      <tbody>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "hide-me" class="input-word">W(t-1)</h3>


<span id  = "hide-me" class="arrow half-left" style="left: 75px; top: -90px;" ></span>
<div id  = "hide-me" class = "box" style = "right: 20px; top: -60px;">&#43</div>
<span  id  = "hide-me"class="arrow half-left" style="right: 170px; top: 20px; transform: rotate(-145deg);" ></span>
<p  id  = "hide-me"class="input-word" style="margin-right: 80%; margin-top: 7%; position: absolute;"><span id="super">1</span> W <span id="sub">V x N
</p>
<table id  = "collapse-up" class="input-vis" style="top: -40px; position: relative;">
      <tbody>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
    </tbody>
    </table>
    <h3  id  = "hide-me" class="input-word" style="bottom: 40px; position: relative;">W(t+1)</h3>



<table id  = "fininput" class="input-vis" style="top: 240px; position: absolute; margin-bottom: 0px; margin-top:0px">
      <tbody>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
      <tr>
        <td><span class="dotb"></span></td>
      </tr>
      <tr>
        <td><span class="dotw"></span></td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "fininput" class="input-word" style=" left: 25px;top: 420px; position: absolute; margin-bottom: 0px; margin-top:0px">W(t+1) + W(t-1)</h3>


</div>




  <div class="matrixform">
    <div id  = "hide-me" class = "box" style = "left: 150px; top: 250px;">&#43</div>

  


    <div>
      <h3>Input Layer</h3>
    <table  id  = "collapse-down"  class="input-table">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      </tbody>
    </table>
    <h3 id  = "hide-me" class="word"> I </h3>
  </div>


  <div >
    <table id  = "collapse-up" class="input-table">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "hide-me" class="word"> data </h3>
  </div>

  <div >
    <table id  = "fininput" class="input-table"style="top:-400px; position: relative;">
      <tbody>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>0</td>
      </tr>
    </tbody>
    </table>
    <h3 id  = "fininput" class="word" style="top:-400px; position: relative;"> I + data </h3>
  </div>




</div>

    





</div>


 
   <div>
   
    <script>

      const url = 'http://localhost:6969/matrix'
      fetch(url)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
              appendVocab(data);
                
                
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        

        function appendVocab(data) {

            var mainContainer = document.getElementById("vocabs");
            
            var div = document.createElement("table");
            let text = "<tr>"
            for (var i = 0; i < data.words.length; i++) {
              if(i == 1){
                text += "<th>" + data.words[i] + "</th>"
              }else{
              text += "<th>" + data.words[i] + "</th>"
            }
            }
            text += "</tr>" 
            

            text += "<tr>" 
            let enc = ""
            function add(enc, j){
                for (var i = 0; i < data.words.length; i++) {
                    if(j == i ){
                        enc += "1"
                    }
                    else{
                    enc += "0"
                }
            }
            return enc
        }
            for (var i = 0; i < data.words.length; i++) {
              text += "<td>" + add(enc, i) + "</td>"
            }
        text += "</tr>" 

        div.innerHTML = text
        mainContainer.appendChild(div);
    }
    
    </script>
  </div>


  




</body>
</html>