/* Style the header */



.background {
  /*background-color: black;*/
  background-color: black;
}



.redTitle {
  color: #A42015;
  font-size: 30px;
  font-family: Fira Sans;
  float: left;
  margin-top: 0px;
  margin-left: 100px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


}

.slider {
 position:relative;
 
 transform:translate(-50%,-50%);
 width:0px;
 height:0px;
 color: transparent;
 background-color: transparent;

 margin-top: 5px;
 margin-bottom: 0px;
 display:flex;
 align-items:center;

}
.slider p {
 font-size:18px;
 font-weight:600;
 font-family: Open Sans;
 padding-left:30px;
 color:#A42015;
}
.slider input[type="range"] {
 -webkit-appearance:none !important;
 width:120px;
 height:2px;
 background:#A42015;
 border:none;
 outline:none;
}
.slider input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance:none !important;
 width:10px;
 height:10px;
 background:#fcfcfc;
 border:1px solid #7E6D57;
 border-radius:50%;
 cursor:pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
 background:#A42015;
}

.vocabbox{

  padding: 10px; 
  border: 2px solid red;
  float: right;
  width:  40%;
  margin-right: 200px;
  border-radius: 15px;
  font-size: 26px;
  font-family: Fira Sans;
  color: black;
  font-weight: bold;
  background: #F8F8F8; 
  border: solid #000000 1px; 
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ;

}

.sidetitles{
  font-style: "Fira Sans";
  font-size: 15px;
  color:white;
  margin-top: 0px;
  margin-bottom: 0px;

}




.body{

  background-color: #C2ABF7;
  
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;


}


.layer{
  display: inline-block;
  font-style: "Fira Sans";
  font-size: 24px;
  color:white;
  margin-top: 40px;
  margin-bottom: 0px;
  border-bottom: 2px solid white;
  margin-left: 10px;
  top: 50%;
  text-align: center;
  width: 150px;
  margin-right: 100px;

}

.matrixform{


  background-color: rgba(217, 217, 217, .16);
  width: 40%;
  height: 545px;
 
  
  top: 80px;
  right: 30px;
  

  position: absolute;

}

.bias-table thead tr {
    background-color: green;
    color: blue;
    text-align: left;
}

.bias-table th,
.bias-table td {
    padding: 3px 5px;
    background-color: #7772EC;
    opacity: 0.85;
    border: 8px solid #7772EC;
    outline: 1px solid black;
    outline-offset: -4px;
    width: calc(100%/3);


    font-style: "Fira Sans";
    font-size: 24px;
    color:black;
    text-align: center;
    font-weight: bold;

}
.bias-table {
    margin-right: 45%;
    margin-left: 45%;
    top: 0px;
    margin-bottom: 0px;
    margin-top: -60px;
    table-layout: fixed;

}


.leftTitle{

  width: 200px;
  font-size: 30px;
  font-weight: bold;
  font-style: "Fira Sans";
  bottom: 450px;
  text-align: center;

  left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;



}


.weight-table thead tr {
    background-color: green;
    color: blue;
    text-align: left;
}

.weight-table th,
.weight-table td {
    padding: 3px 5px;
    background-color: #FABBB5;
    opacity: 0.85;
    border: 8px solid #FABBB5;
    outline: 1px solid black;
    outline-offset: -4px;
    width: calc(100%/3);


    font-style: "Fira Sans";
    font-size: 24px;
    color:black;
    text-align: center;
    font-weight: bold;

}
.weight-table {
    margin-right: 45%;
    margin-left: 45%;
    top: 0px;
    margin-bottom: 0px;
    margin-top: -60px;
    table-layout: fixed;

}


.input-table {
    margin-right: 45%;
    margin-left: 45%;
    top: 0px;
    margin-bottom: 0px;
    margin-top: -60px;
    table-layout: fixed;

}

.neuron{

  width: 200px;
  background-color: black;
  padding: 5px;
  border-radius: 15px;
  color: #FA07FF;
  bottom: 40px;
  left: 50px;
  font-style: "Fira Sans";
  font-size: 24px;
  text-align: center;
  position: absolute;

}

.update{

  width: 150px;
  background-color: #FB9D9D;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  bottom: 10px;
  left: 370px;
  font-style: "Fira Sans";
  font-size: 30px;
  text-align: center;
  position: absolute;


}




#leftWeight td{

width: 200px;

}

.input-table thead tr {
    background-color: green;
    color: blue;
    text-align: left;
}

.input-table th,
.input-table td {
    padding: 3px 5px;
    background-color: #A42015;
    opacity: 0.85;
    border: 8px solid #A42015;
    outline: 1px solid black;
    outline-offset: -4px;
    width: calc(100%/3);


    font-style: "Fira Sans";
    font-size: 24px;
    color:black;
    text-align: center;
    font-weight: bold;

}


.word{
  font-style: "Fira Sans";
  font-size: 24px;
  color:white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top:0px ;


}



.input-vis {
    
    top: 0px;
    margin-bottom: 0px;
  
    min-width: 40px;
    margin-left: 90px;
    margin-top: 15px;
    z-index: 1;




}






.input-vis thead tr {
    background-color: green;
    color: blue;
    text-align: left;
}

.input-vis th,
.input-vis td {
    padding: 3px 5px;
    background-color: transparent;
    border: 1px solid transparent;
    opacity: 0.85;
    font-style: "Fira Sans";
    font-size: 24px;
    color:black;
    text-align: center;
    font-weight: bold;



}



.dotw {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;


}



.dotb {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

}

.line{

  width: 5px;
  background: black;
  height: 250px;
  position: absolute;
  top: 150px;
  transform: rotate(100deg);
  left: 220px;
  
}



.input-word{

  font-style: "Fira Sans";
  font-size: 24px;
  color: white;
  text-align: center;
  margin-right: 84%;
  margin-top: 2px;


}

#hide-me {
    -webkit-animation: hide 5s forwards; 
    animation: hide 5s forwards;
}
#collapse-down {
    
    -webkit-animation: down 2s forwards; 
    animation: down 2s forwards;
    animation-delay: 4s;
}
#collapse-up {

    
    -webkit-animation: up 2s forwards; 
    animation: up 2s forwards;
     animation-delay: 4s;
}

#circle1 {
    visibility: hidden;
  animation: 7s fadeIn;
  animation-fill-mode: forwards;
}
#circle2 {
    visibility: hidden;
  animation: 8s fadeIn;
  animation-fill-mode: forwards;
}
#circle3 {
    visibility: hidden;
  animation: 9s fadeIn;
  animation-fill-mode: forwards;
}


@keyframes down {
    0% { transform: translateY(0); }
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% { transform: translateY(150px); }
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }

    
}
@-webkit-keyframes down {
    0% { transform: translateY(0); }
    
     0%  {opacity: 1;}
    90%  {opacity: 1;}
    100% { transform: translateY(150px); }
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }

    
}

@keyframes up{
    0% { transform: translateY(0); }
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% { transform: translateY(-150px); }
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }
}
@-webkit-keyframes up {
    0% { transform: translateY(0); }
     0%  {opacity: 1;}
    90%  {opacity: 1;}
    100% { transform: translateY(-150px); }
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }
}

@keyframes hide {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }
    
}
@-webkit-keyframes hide {
     0%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }
    
}

#fininput{

  visibility: hidden;
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
}

#text {

 -webkit-animation: fadeOut 5s forwards; 
  visibility: hidden;

  animation-fill-mode: forwards;
  animation-delay: 4s;

}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fadeOut {

  100%   {opacity: 1;}
    90%  {opacity: 1;}
 
    30% {opacity: 0;}
    0% {visibility: visible;
  }
    0%   {opacity: 1;}
    90%  {opacity: 1;}
 
    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }

    
}
@-webkit-keyframes fadeOut {
  100%   {opacity: 1;}
    90%  {opacity: 1;}
 
    30% {opacity: 0;}
    0% {visibility: visible;
  }
     0%  {opacity: 1;}
    90%  {opacity: 1;}

    100% {opacity: 0;}
    100% {
    visibility: hidden;
  }

    
}

#super{  
vertical-align:super;  
font-size: medium;  
}  

#sub{  
vertical-align: sub;  
font-size: medium;  
}




.eqbox{

  display: none;
   width: 500px;
  border: 2px solid black;
  background-color: #D9D9D9;
  padding: 10px;
  margin: 2px;
  top: 470px;
  left: 50px;
  border-radius: 25px;
  position: absolute;
  text-align: center;
}

span.line:hover {

  background-color: green;
  
  background: green !important;
  border-color: red;

 
}





.w{

  font-style: "Fira Sans";
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.a{
  font-style: "Fira Sans";
  color: #FA07FF;
  font-size: 28px;
  font-weight: bold;

}

.b{
  font-style: "Fira Sans";
  color: #1F16F1;
  font-size: 28px;
  font-weight: bold;

}

.plus{
  font-style: "Fira Sans";
  color: white;
  font-size: 28px;
  font-weight: bold;

}

.box{

  border: 1px solid black ;
  background-color: black;
  color: #555555;
  width: 35px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
  display: inline-block;



}


.arrow {
  height: 70px;
  position: relative;
  width: 5px;
  background: black;
  margin: 100px;
  display: inline-block;
}

.arrow:before {
  content: " ";
  width: 5px;
  background: black;
  height: 30px;
  position: absolute;
  top: -10px;
  transform: rotate(50deg);
  left: -10px;
}
.arrow:after {
  content: " ";
  width: 5px;
  background: black;
  height: 30px;
  position: absolute;
  top: -10px;
  transform: rotate(-50deg);
  right: -10px;
}

.left {
  transform: rotate(-90deg);
}

.right {
  transform: rotate(90deg);
}

.half-left {
  transform: rotate(-35deg);
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.half-right {
  transform: rotate(45deg);
}



@media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
    }
    
    .container-2{
      display:flex;  
      /*
      justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around;
      */
      justify-content:space-between;
    }
  }
  

  .container-1 div{
    border:1px #ccc solid;
    padding:10px;

    font-family: Arial, Helvetica, sans-serif;

  }
  


  .box-1{
    flex:2;
    order:2;
    width: 100%;
    height: 130px;

  }

  /* Table for box 1 (Encoder)*/

table {
  border-collapse: collapse;
}



th, td {
  border: 4px solid #555555;
  padding: 8px;
  background-color: white;
  text-align: center;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}



tbody th {
  background-color: #A0C9F8;
  color: black;
  text-align: center;
}

th.target{
  border: 4px solid #555555;
  padding: 8px;
  background-color: #A42015;
  color: black;
  text-align: center;

}

  .box-2{
    flex:0.5;
    order:1;
    height: 130px;
  }
  
  
  
  

.tableVocab{
  margin-left: auto;
  margin-right: auto;


}
th.tableVocab{
  width: 30px;
}



/* Buttons */

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



.grid{
    display: grid;
    grid-gap: 2vmax;
}

